@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#app-root > div {
  padding: 0px !important;
}


body {
  background-image: url(../img/bglogin.jpg);
  display: flex;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.min-h-screen {
  background: none;
}
